    :root {
        --background-color:  #FDF4DC;
        --color: #2b2b2b;
    }

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--color);
    font-family: monospace;
    font-size: 5.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.barcode {
    font-family: 'Libre Barcode 39 Text';
}

.sm {
    font-size: 3.6rem;
}